---
title: "Cleaning Up Messy Column Names"
author: "Hampus Sandén"
date: 2020-08-20T11:53:49+02:00
description: "Cleaning Up Messy Column Names"
type: technical_note
draft: true
aliases:
    - /python/pandas_cleaning_up_messy_column_names.html
---

Sometimes you load in that DataFrame from a csv or excel file that some unlucky excel user created and you just wish everyone used Python. Why do they have to make the column names uppercase, with spaces, and whitespace all around? Do they like doing this to you? They probably hate you, that’s it. They did this:

### Import modules

In [4]:
import pandas as pd

In [8]:
df = pd.read_csv('data/solar_power_plant.csv')
df.head()

,DATE TIME,PLANT ID,SOURCE KEY,DC POWER,AC POWER,DAILY YIELD,TOTAL YIELD
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0,0,0,6259559
1,15-05-2020 00:00,4135001,1IF53ai7Xc0U56Y,0,0,0,6183645
2,15-05-2020 00:00,4135001,3PZuoBAID5Wc2HD,0,0,0,6987759
3,15-05-2020 00:00,4135001,7JYdWkrLSPkdwr4,0,0,0,7602960
4,15-05-2020 00:00,4135001,McdE0feGgRqW7Ca,0,0,0,7158964

Now you can’t reference the columns with the convenient .{column name here} notation. You’ll have to do the [''] thing. It’s not the most horrible thing that ever happened, you’ve been through a lot. You can take it. But you’re used to the other way. Plus, what’s with those parentheses? You can’t have that.
Luckily, pandas has a convenient .str method that you can use on text data. Since the column names are an ‘index’ type, you can use .str on them too. You can fix all these lapses of judgement by chaining together a bunch of these .str functions. Like so:

In [9]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
df.head()

,date_time,plant_id,source_key,dc_power,ac_power,daily_yield,total_yield
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0,0,0,6259559
1,15-05-2020 00:00,4135001,1IF53ai7Xc0U56Y,0,0,0,6183645
2,15-05-2020 00:00,4135001,3PZuoBAID5Wc2HD,0,0,0,6987759
3,15-05-2020 00:00,4135001,7JYdWkrLSPkdwr4,0,0,0,7602960
4,15-05-2020 00:00,4135001,McdE0feGgRqW7Ca,0,0,0,7158964