---
title: "Fixing messy columns names the easy way with pandas"
author: "Hampus Sandén"
date: 2017-12-20T11:53:49-07:00
description: "Fixing messy columns names the easy way with pandas"
type: technical_note
draft: false
---

# Fixing messy column names the easy way with pandas

### Import modules

In [7]:
import pandas as pd
import re

### Load sample data

In [8]:
df = pd.read_html('http://www.fasttrack.co.uk/league-tables/tech-track-100/league-table/' , header=0)[0]

In [9]:
df.head()

,Rank,Company,Location,Year end,Annual sales rise over 3 years,Latest sales £000s,Staff,Comment
0,1,Plan.comCommunications provider,Isle of Man,Sep-17,364.38%,"*35,418",90,About 650 partners use its telecoms platform t...
1,2,PsiOxusBiotechnology developer,Oxfordshire,Dec-17,311.67%,53136,54,Received a $15m milestone payment from its dev...
2,3,CensorNetCloud security software developer,Basingstoke,Dec-17,210.17%,"*7,535",77,"Has more than 4,000 customers, including McDon..."
3,4,thoughtonomyAutomation software developer,East London,May-18,205.20%,"*16,916",100,It sells to 28 countries and 50% of revenue is...
4,5,PerkboxEmployee engagement services,Central London,Dec-17,204.12%,"*34,700",200,Acquired software platform Loyalty Bay for an ...

### Fix messy column names

In [11]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [12]:
df.head()

,rank,company,location,year_end,annual_sales_rise_over_3_years,latest_sales_£000s,staff,comment
0,1,Plan.comCommunications provider,Isle of Man,Sep-17,364.38%,"*35,418",90,About 650 partners use its telecoms platform t...
1,2,PsiOxusBiotechnology developer,Oxfordshire,Dec-17,311.67%,53136,54,Received a $15m milestone payment from its dev...
2,3,CensorNetCloud security software developer,Basingstoke,Dec-17,210.17%,"*7,535",77,"Has more than 4,000 customers, including McDon..."
3,4,thoughtonomyAutomation software developer,East London,May-18,205.20%,"*16,916",100,It sells to 28 countries and 50% of revenue is...
4,5,PerkboxEmployee engagement services,Central London,Dec-17,204.12%,"*34,700",200,Acquired software platform Loyalty Bay for an ...